srcs/rewrite.py
srcs/rewrite2.py
vivado.jou
vivado.log
xsim.dir/
sim_build/
tb_snap.wdb
tb_snap_non_pipe.wdb
tb_snap_pipe.wdb
*.backup.*
*.*~
*.swp
*.jou
*.log
*.pb
*.str
*.wdb
.Xil/

# Ignore All Vivado and Vitis project directories
vivado_projects/
Vitis_Zed/
Vitis/
build/
