srcs/rewrite.py
srcs/rewrite2.py
vivado.jou
vivado.log
xsim.dir/work/@f@padder_0.sdb
xsim.dir/work/@f@padder.sdb
xsim.dir/work/@f@pmul_4.sdb
xsim.dir/work/@f@pmul_7.sdb
xsim.dir/work/@f@pmul_10.sdb
xsim.dir/work/@f@pmul.sdb
xsim.dir/work/@systolic@array.sdb
xsim.dir/work/@w@s@p@e@t@o@p_1.sdb
xsim.dir/work/@w@s@p@e@t@o@p_2.sdb
xsim.dir/work/@w@s@p@e@t@o@p_3.sdb
xsim.dir/work/@w@s@p@e@t@o@p.sdb
xsim.dir/work/full@f@padder_13.sdb
xsim.dir/work/full@f@padder.sdb
xsim.dir/work/glbl.sdb
xsim.dir/work/samesigned@f@padder_6.sdb
xsim.dir/work/samesigned@f@padder_9.sdb
xsim.dir/work/samesigned@f@padder_12.sdb
xsim.dir/work/samesigned@f@padder.sdb
xsim.dir/work/samesigned@f@padderfrontend_5.sdb
xsim.dir/work/samesigned@f@padderfrontend_8.sdb
xsim.dir/work/samesigned@f@padderfrontend_11.sdb
xsim.dir/work/samesigned@f@padderfrontend.sdb
xsim.dir/work/tb_@systolic@array.sdb
xsim.dir/work/work.rlx
xelab.log
xelab.pb
xvlog.log
xvlog.pb
sim_build/xsim.dir/post_impl_sim/Compile_Options.txt
sim_build/xsim.dir/post_impl_sim/xsim_script.tcl
sim_build/xsim.dir/post_impl_sim/xsim.dbg
sim_build/xsim.dir/post_impl_sim/xsim.mem
sim_build/xsim.dir/post_impl_sim/xsim.reloc
sim_build/xsim.dir/post_impl_sim/xsim.rtti
sim_build/xsim.dir/post_impl_sim/xsim.svtype
sim_build/xsim.dir/post_impl_sim/xsim.type
sim_build/xsim.dir/post_impl_sim/xsim.xdbg
sim_build/xsim.dir/post_impl_sim/xsimcrash.log
sim_build/xsim.dir/post_impl_sim/xsimk
sim_build/xsim.dir/post_impl_sim/xsimkernel.log
sim_build/xsim.dir/post_impl_sim/xsimSettings.ini
sim_build/xsim.dir/work/@f@padder_0.sdb
sim_build/xsim.dir/work/@f@padder.sdb
sim_build/xsim.dir/work/@f@pmul_4.sdb
sim_build/xsim.dir/work/@f@pmul_7.sdb
sim_build/xsim.dir/work/@f@pmul_10.sdb
sim_build/xsim.dir/work/@f@pmul.sdb
sim_build/xsim.dir/work/@systolic@array_post_wrapper.sdb
sim_build/xsim.dir/work/@systolic@array.sdb
sim_build/xsim.dir/work/@w@s@p@e@t@o@p_1.sdb
sim_build/xsim.dir/work/@w@s@p@e@t@o@p_2.sdb
sim_build/xsim.dir/work/@w@s@p@e@t@o@p_3.sdb
sim_build/xsim.dir/work/@w@s@p@e@t@o@p.sdb
sim_build/xsim.dir/work/full@f@padder_13.sdb
sim_build/xsim.dir/work/full@f@padder.sdb
sim_build/xsim.dir/work/glbl.sdb
sim_build/xsim.dir/work/samesigned@f@padder_6.sdb
sim_build/xsim.dir/work/samesigned@f@padder_9.sdb
sim_build/xsim.dir/work/samesigned@f@padder_12.sdb
sim_build/xsim.dir/work/samesigned@f@padder.sdb
sim_build/xsim.dir/work/samesigned@f@padderfrontend_5.sdb
sim_build/xsim.dir/work/samesigned@f@padderfrontend_8.sdb
sim_build/xsim.dir/work/samesigned@f@padderfrontend_11.sdb
sim_build/xsim.dir/work/samesigned@f@padderfrontend.sdb
sim_build/xsim.dir/work/tb_@systolic@array.sdb
sim_build/xsim.jou
sim_build/xsim.log
sim_build/xsim.dir/work/work.rlx
xsim.jou
xsim.log
xsim.dir/tb_snap/Compile_Options.txt
xsim.dir/tb_snap/xsim_script.tcl
xsim.dir/tb_snap/xsim.dbg
xsim.dir/tb_snap/xsim.mem
xsim.dir/tb_snap/xsim.reloc
xsim.dir/tb_snap/xsim.rtti
xsim.dir/tb_snap/xsim.svtype
xsim.dir/tb_snap/xsim.type
xsim.dir/tb_snap/xsim.xdbg
xsim.dir/tb_snap/xsimcrash.log
xsim.dir/tb_snap/xsimk
xsim.dir/tb_snap/xsimkernel.log
xsim.dir/tb_snap/xsimSettings.ini
xsim.dir/work/rounding@unit.sdb
xsim.dir/work/samesigned@f@paddertop.sdb
tb_snap.wdb
tb_snap_non_pipe.wdb
tb_snap_pipe.wdb
xsim_909976.backup.jou
xsim_909976.backup.log

# Vivado Directories
gui_proj/gui_proj.cache/
gui_proj/gui_proj.hw/
gui_proj/gui_proj.sim/
gui_proj/gui_proj.runs/
gui_proj/gui_proj.gen/
.Xil/

# Vitis Workspaces
Vitis/

# Logs and Journals
*.jou
*.log
*.pb
*.str
*.backup.*

# Temporary
*.*~
*.swp

